*{
    text-align: center;
    background-color: rgb(218, 188, 132);
}
h3{
    margin-top: 2rem;
}
.container{
    margin:3rem auto;
    height: 450px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.btn{
    height: 200px;
    width: 200px;
    border: 4px solid black;
}
.red{
    background-color: rgb(235, 76, 76);
    border-top-left-radius: 25%;
}
.yellow{
    background-color: rgb(232, 232, 105);
    border-top-right-radius: 25%;
}
.purple{
    background-color: rgb(235, 94, 235);
    border-bottom-left-radius: 25%;
}
.blue{
    background-color: rgb(78, 78, 238);
    border-bottom-right-radius: 25%;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}



/* startpage */

.sbtn{
    margin-top: 50px;
    scale: 2;
}
.input{
    margin-top: 100px;
    scale: 2;
}
#buti{
    background-color: yellowgreen;
    box-shadow: 2px 2px black;
    width: 6rem;
    height: 2rem;
    margin-bottom: 2rem;
}